Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-05, with the labels that each got.

#93 Improve query: Ensure that your VMs are compliant with Azure Policies
  azure-resources/Compute/virtualMachines/kql/c42343ae-2712-2843-a285-3437eb0b28a1.kql
Labels: Area: Resource Graph Query(s)

#88 Improve ARG query: Configure DDoS Protection on the Azure Firewall VNet
  azure-resources/Network/azureFirewalls/kql/1b2dbf4a-8a0b-5e4b-8f4e-3f758188910d.kql
Labels: Area: Resource Graph Query(s)

#96 Resiliency importance of Monitoring recommendationImpact:
  azure-resources/Network/applicationGateways/recommendations.yaml
  azure-resources/Network/azureFirewalls/recommendations.yaml
  azure-resources/Network/expressRouteCircuits/recommendations.yaml
  azure-resources/Network/frontDoorWebApplicationFirewallPolicies/recommendations.yaml
  azure-resources/Network/privateDnsZones/recommendations.yaml
  azure-resources/Network/routeTables/recommendations.yaml
  azure-resources/Network/virtualNetworkGateways/recommendations.yaml
Labels: Area: Resource Guidance

#94 Add GitOps policies
  .github/policies/resource-management.yml
  docs/content/tools/_index.md
Labels: Enhancement

#101 Update VM APRL per Disk PM's request: Mission Critical Workloads
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance

#102 bugs-Cosmos-db-fixes and adjust setting for PR link tests
  .github/workflows/code-review.yml
  azure-resources/DocumentDB/databaseAccounts/kql/23ebe97d-c546-204b-8b0d-00e61a5524f7.kql
  azure-resources/DocumentDB/databaseAccounts/kql/43663217-a1d3-844b-80ea-571a2ce37c6c.kql
  azure-resources/DocumentDB/databaseAccounts/kql/7eb32cf9-9a42-1540-acf8-597cbba8a418.kql
  azure-resources/DocumentDB/databaseAccounts/kql/9cabded7-a1fc-6e4a-944b-d7dd98ea31a2.kql
  azure-resources/DocumentDB/databaseAccounts/kql/9ce78192-74a0-104c-b5bb-9a443f941649.kql
  azure-resources/DocumentDB/databaseAccounts/kql/c006604a-0d29-684c-99f0-9729cb40dac5.kql
  azure-resources/DocumentDB/databaseAccounts/kql/deaea200-013c-414b-ac9f-bfa7a7fb13f0.kql
  azure-resources/DocumentDB/databaseAccounts/kql/e544520b-8505-7841-9e77-1f1974ee86ec.kql
  azure-resources/DocumentDB/databaseAccounts/kql/fa6ac22f-0584-bb4b-80e4-80f4755d1a97.kql
  azure-resources/DocumentDB/databaseAccounts/recommendations.yaml
Labels: Area: Resource Graph Query(s)

#108 Revised legacy workspace migration guidance
  azure-resources/Databricks/workspaces/kql/8aa63c34-dd9d-49bd-9582-21ec310dfbdd.kql
  azure-resources/Databricks/workspaces/recommendations.yaml
Labels: Area: Resource Guidance

#105 add sample output files for automation scripts
  docs/content/tools/script-overviews/_index.md
  tools/sample-output/Assessment Report - Contoso Hotels - 2024-05-07-12-12.docx
  tools/sample-output/Executive Summary Presentation - Contoso Hotels - 2024-05-07-12-12.pptx
  tools/sample-output/WARA Action Plan 2024-05-07_12_07.xlsx
  tools/sample-output/WARA_File_2024-05-07_11_59.json
Labels: Enhancement

#109 Added a recommendation for Load balancer health probe
  azure-resources/Network/loadBalancers/kql/e5f5fcea-f925-4578-8599-9a391e888a60.kql
  azure-resources/Network/loadBalancers/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s)

#125 Tooling: Bugfixes on Missing Validations "under development" and typo at line 1337
  tools/1_wara_collector.ps1
  tools/3_wara_reports_generator.ps1
  tools/Version.json
Labels: Bug, Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#131 Revised databricks recommendation
  azure-resources/Databricks/workspaces/recommendations.yaml
Labels: Area: Resource Guidance

#124 AGW: Update first recommendation for minimum instance count.
  azure-resources/Network/applicationGateways/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#97 fixes query for CosmosDB consistency level
  azure-resources/DocumentDB/databaseAccounts/kql/23ebe97d-c546-204b-8b0d-00e61a5524f7.kql
  azure-resources/DocumentDB/databaseAccounts/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#132 Tooling: Support for Specialized Workloads and Code Improvement
  tools/1_wara_collector.ps1
  tools/2_wara_data_analyzer.ps1
  tools/Version.json
Labels: Enhancement, Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#139 Changed VM Disk recommendation from SSD to Premium or Ultra Disks
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#117 AKS: Update AKS guidance based on PG feedback
  azure-resources/ContainerService/managedClusters/kql/5ee083cd-6ac3-4a83-8913-9549dd36cf56.kql
  azure-resources/ContainerService/managedClusters/kql/a01afc4c-7439-4919-b2da-3565992ea2a7.kql
  azure-resources/ContainerService/managedClusters/kql/ba3f7d17-9654-4038-b172-09f1b2569925.kql
  azure-resources/ContainerService/managedClusters/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#143 Update ANF APRL related to AZ
  azure-resources/NetApp/netAppAccounts/kql/8bb690e8-64d5-4838-8703-9ee3dbac688f.kql
  azure-resources/NetApp/netAppAccounts/recommendations.yaml
Labels: Area: Resource Guidance

#150 Modified KQL query for Geo Replication
  azure-resources/Sql/servers/kql/74c2491d-048b-0041-a140-935960220e20.kql
Labels: Area: Resource Graph Query(s)

#138 Removed SSD recommendation based on PG feedback
  azure-resources/Compute/virtualMachines/kql/d3f3ee41-b9aa-d34d-b442-5d46d20232b2.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance

#165 changing verbiage of AKS pod scheduling on worker nodes
  azure-resources/ContainerService/managedClusters/recommendations.yaml
Labels: Area: Resource Guidance

#155 Create new recommendation for expressRoutePorts monitoring and alerting incl AMBA
  azure-resources/Network/expressRouteCircuits/recommendations.yaml
  azure-resources/Network/expressRoutePorts/kql/55815823-d588-4cb7-a5b8-ae581837356e.kql
  azure-resources/Network/expressRoutePorts/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#172 Closes #171
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
Labels: Bug

#173 big: Removes invalid query for key vault
  azure-resources/KeyVault/vaults/kql/1dc0821d-4f14-7644-bab4-ba208ff5f7fa.kql
  azure-resources/KeyVault/vaults/recommendations.yaml
Labels: Bug, Area: Resource Graph Query(s)

#170 Reliability in Azure Container Apps Environments. Check for AZ deployment
  azure-resources/App/managedEnvironments/kql/f4201965-a88d-449d-b3b4-021394719eb2.kql
  azure-resources/App/managedEnvironments/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:
