Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-07, with the labels that each got.

#254 Update visibility of Azure resource
  azure-resources/App/_index.md
  azure-resources/App/containerApps/_index.md
  azure-resources/App/managedEnvironments/_index.md
  azure-resources/AppConfiguration/_index.md
  azure-resources/AppConfiguration/configurationStores/_index.md
Labels: Bug

#219 Update 7e7daec9-6a81-3546-a4cc-9aef72fec1f7.kql Monitor your Azure SQL existing query does not return accurate results
  azure-resources/Sql/servers/kql/7e7daec9-6a81-3546-a4cc-9aef72fec1f7.kql
Labels: Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#137 Added a new section for FUNCTION apps, including index, recommendations and KQL files
  azure-resources/Web/sites/kql/0b06a688-0dd6-4d73-9f72-6666ff853ca9.kql
  azure-resources/Web/sites/kql/52f368ee-1d77-4b34-92db-64be269642d0.kql
  azure-resources/Web/sites/kql/7c608f46-46b2-4cc0-bbd6-1d457c16671c.kql
  azure-resources/Web/sites/kql/c6c4b962-5af4-447a-9d74-7b9c53a5dff5.kql
  azure-resources/Web/sites/kql/c9a278b7-024b-454b-bd54-41587c512b74.kql
  azure-resources/Web/sites/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:, PR: Safe to Test ARG Queries :test_tube:

#252 Adds aad/domainServices recommendations
  azure-resources/AAD/_index.md
  azure-resources/AAD/domainServices/_index.md
  azure-resources/AAD/domainServices/kql/a3058909-fcf8-4450-88b5-499f57449178.kql
  azure-resources/AAD/domainServices/kql/bb6deb9d-24fa-4ee8-bc23-ac3ebc7fdf8e.kql
  azure-resources/AAD/domainServices/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#256 Bug Fix - Update EventHub recommendations and remove duplicate query and datatype reference in docs for automationavailable
  azure-resources/EventHub/namespaces/kql/84636c6c-b317-4722-b603-7b1ffc16384b.kql
  azure-resources/EventHub/namespaces/recommendations.yaml
  docs/content/contributing/create-content/create-recommendations/_index.md
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#258 Verified queries supported by arg for OSS and changed impact to high for read replicas
  azure-resources/DBforMySQL/flexibleServers/recommendations.yaml
  azure-resources/DBforPostgreSQL/flexibleServers/recommendations.yaml
Labels: Area: Resource Guidance

#253 Add aka.ms download commands to tools doc
  docs/content/tools/script-overviews/_index.md
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#265 Add ARG code for Azure VM disk encryption recommendation
  azure-resources/Compute/virtualMachines/kql/f0a97179-133a-6e4f-8a49-8a44da73ffce.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#270 General-bug fixes
  azure-resources/Databricks/workspaces/recommendations.yaml
  azure-resources/EventHub/namespaces/recommendations.yaml
  azure-specialized-workloads/avd/_index.md
  azure-specialized-workloads/avd/kql/dc55be60-6f8c-461e-a9d5-a3c7686ed94e.kql
  azure-specialized-workloads/sap/kql/b60ae773-9917-4bca-8a42-7cb45365a917.kql
Labels: Bug, Area: Resource Guidance, Area: Resource Graph Query(s)

#245 Availability Set to VMSS Flex wording fixed
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance

#273 Improve error message of 3_wara_reports_generator.ps1 when Excel file has sensitivity label
  docs/content/tools/script-overviews/_index.md
  tools/3_wara_reports_generator.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#243 Added recommendation for ExR Circuit
  azure-resources/NetworkFunction/azureTrafficCollectors/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:, Needs: Attention :wave:

#244 Added recommendation for network watcher connection monitor
  azure-resources/Network/networkWatchers/kql/e28bbc1-1eb7-486f-8d7f-93943f40219.kql
  azure-resources/Network/networkWatchers/recommendations.yaml
Labels: Area: Resource Guidance

#271 APRL Virtual WAN Recommendations - 1
  .github/scripts/schemas/azure-resources-schema.yaml
  azure-resources/Network/expressRouteGateways/_index.md
  azure-resources/Network/expressRouteGateways/kql/17e8d380-e4b4-41a1-9b37-2e4df9fd5125.kql
  azure-resources/Network/expressRouteGateways/kql/9987c813-d687-4163-a511-95f31bc5e536.kql
  azure-resources/Network/expressRouteGateways/recommendations.yaml
  azure-resources/Network/p2sVpnGateways/kql/fd43ea32-2ccf-49a8-ada4-9a78794e3ff1.kql
  azure-resources/Network/p2sVpnGateways/recommendations.yaml
  azure-resources/Network/virtualHubs/_index.md
  azure-resources/Network/virtualHubs/kql/0390bf34-8be5-44ee-b454-d6b8d5dd3790.kql
  azure-resources/Network/virtualHubs/recommendations.yaml
  azure-resources/Network/vpnGateways/kql/f0d4f766-ac19-48c4-b228-4601cc038baa.kql
  azure-resources/Network/vpnGateways/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:, PR: Safe to Test ARG Queries :test_tube:

#304 feat: update AvSet migration recommendation
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance

#298 Network watcher TA and flow logs
  azure-resources/Network/networkWatchers/kql/a1317a0b-402d-4604-be40-a25a004ba171.kql
  azure-resources/Network/networkWatchers/kql/bf0b7dbd-016d-458c-af99-70fcb03ad451.kql
  azure-resources/Network/networkWatchers/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:, PR: Safe to Test ARG Queries :test_tube:

#301 Hygiene-securityinitiative
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/hugo-site-build.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/scorecard.yml
  CODEOWNERS
  README.md
Labels: Type: Hygiene :broom:

#308 fix: Remove unnecessary pipe character
  azure-resources/Network/expressRouteGateways/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#309 fix: "Network Watcher" capitalization
  azure-resources/Network/networkWatchers/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#310 fix: ExpressRoute product name
  azure-resources/Network/expressRouteGateways/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#314 fix: Disk type name in description
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance

#313 feat: Add new linux agent recommendation
  azure-resources/Compute/virtualMachines/kql/5f7e8a12-3c4f-456b-919c-2e9adff98c38.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance, PR: Safe to Test ARG Queries :test_tube:
