Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-10, with the labels that each got.

#431 fix: arg output returning null value for param1 when "No Private Endpoint" condition is met
  azure-resources/Storage/storageAccounts/kql/dc55be60-6f8c-461e-a9d5-a3c7686ed94e.kql
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-networking :wave:, PR: Safe to Test ARG Queries :test_tube:

#447 fix: Fix recommendationResourceType example value
  docs/content/contributing/create-content/create-recommendations/_index.md
Labels: Bug :lady_beetle:, Needs: Attention from aprl-maintainers :wave:, Area: Contribution Guide :scroll:

#437 feat: Add recommendation for Service Bus minimum TLS version
  azure-resources/ServiceBus/namespaces/kql/f075a1bd-de9e-4819-9a1d-1ac41037a74f.kql
  azure-resources/ServiceBus/namespaces/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-maintainers :wave:, PR: Safe to Test ARG Queries :test_tube:

#450 chore: Data codeowners and remove pg verified from pages
  .github/workflows/scorecard.yml
  CODEOWNERS
  docs/layouts/shortcodes/azure-resources-recommendationlist.html
  docs/layouts/shortcodes/azure-specialized-workloads-recommendationlist.html
  docs/layouts/shortcodes/azure-waf-recommendationlist.html
Labels: Needs: Attention from aprl-maintainers :wave:, Type: Hygiene :broom:, Auto-Merge :heavy_check_mark:

#430 fix: arg code for PostgreSQL read replica detection
  azure-resources/DBforPostgreSQL/flexibleServers/kql/2ab85a67-26be-4ed2-a0bb-101b2513ec63.kql
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-maintainers :wave:, PR: Safe to Test ARG Queries :test_tube:

#452 chore: Hygeine workflows
  .github/workflows/build-recommendation-object.yml
  .github/workflows/code-review.yml
  .github/workflows/dependency-review.yml
  .github/workflows/hugo-build-pr-check.yml
  .github/workflows/hugo-site-build.yml
  .github/workflows/scorecard.yml
  .github/workflows/validate-queries.yml
  docs/layouts/shortcodes/azure-resources-recommendationlist.html
  docs/layouts/shortcodes/azure-specialized-workloads-recommendationlist.html
  docs/layouts/shortcodes/azure-waf-recommendationlist.html
Labels: Needs: Attention from aprl-maintainers :wave:, Type: Hygiene :broom:

#453 fix: Add permissions to deploy to github pages
  .github/workflows/hugo-site-build.yml
Labels: Bug :lady_beetle:, Type: Hygiene :broom:

#446 feat: Added KQL for ExpressRoute FastPath Connections
  azure-resources/Network/connections/kql/f6a14b32-a727-4ace-b5fa-7b1c6bdff402.kql
  azure-resources/Network/connections/recommendations.yaml
Labels: Enhancement :new:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-networking :wave:, PR: Safe to Test ARG Queries :test_tube:

#454 fix: Improve KQL stability for resource group recommendation
  azure-resources/Resources/resourceGroups/kql/98bd7098-49d6-491b-86f1-b143d6b1a0ff.kql
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-maintainers :wave:, PR: Safe to Test ARG Queries :test_tube:

#429 feat: Add recommendation for Managed Grafana
  azure-resources/Dashboard/_index.md
  azure-resources/Dashboard/grafana/_index.md
  azure-resources/Dashboard/grafana/kql/6cd57b65-ef84-4088-9ada-c0d8de74c2f7.kql
  azure-resources/Dashboard/grafana/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-maintainers :wave:, PR: Safe to Test ARG Queries :test_tube:

#461 feat: Add sync for GitHub issues to Azure DevOps Work items
  .github/actions-config/gh-ado-sync-config.json
  .github/workflows/ado-sync-workitems.yml
  .github/workflows/build-recommendation-object.yml
Labels: Enhancement :new:, Type: Hygiene :broom:

#462 fix: Build Recommendation Permission Issues
  .github/workflows/build-recommendation-object.yml
Labels: Bug :lady_beetle:, Type: Hygiene :broom:

#466 feat: Added recommendation for On-Demand Capacity Reservations for DR regions
  azure-resources/Compute/virtualMachines/kql/587ca3e4-113b-4c4f-b4e0-92cd8d2065b6.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:, Needs: Attention from aprl-maintainers :wave:

#444 feat: Updates with PG verified recommendations and upgraded 3 recommendations to impact to High
  azure-resources/Web/serverFarms/recommendations.yaml
  azure-resources/Web/sites/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:

#457 feat: Sql mi changes
  azure-resources/Network/connections/kql/f6a14b32-a727-4ace-b5fa-7b1c6bdff402.kql
  azure-resources/Sql/managedInstances/kql/15e2712c-f3ea-4a8d-9081-11e822b1ccfb.kql
  azure-resources/Sql/managedInstances/kql/257cd903-700f-4a79-bd37-7dce2b511df4.kql
  azure-resources/Sql/managedInstances/kql/9fad5392-b852-4807-9b6d-3f700ff9771a.kql
  azure-resources/Sql/managedInstances/kql/c14de326-2729-4be7-a91f-4ea185d24b10.kql
  azure-resources/Sql/managedInstances/kql/c9afeb1e-e706-4809-be4e-75d9fac708f2.kql
  azure-resources/Sql/managedInstances/kql/f8f834a9-c761-4e84-b2cb-ac55494d0c37.kql
  azure-resources/Sql/managedInstances/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:, Area: Resource Graph Query(s) :hash:, Needs: Attention from aprl-maintainers :wave:, PR: Safe to Test ARG Queries :test_tube:

#473 fix: Adjust checkout tasks
  .github/workflows/validate-queries.yml
  .github/workflows/validate-recommendations.yml
Labels: Bug :lady_beetle:, Type: Hygiene :broom:

#475 refactor: Reconfigure Validate ARG Query Workflow to be Manually Triggered
  .github/workflows/validate-queries.yml
Labels: Type: Hygiene :broom:

#469 fix: exclude master DB from failover group recommendation
  azure-resources/Sql/servers/kql/943c168a-2ec2-a94c-8015-85732a1b4859.kql
Labels: Bug :lady_beetle:, PR: Safe to Test ARG Queries :test_tube:

#468 fix: exclude master DB from active geo rep recommendation
  azure-resources/Sql/servers/kql/74c2491d-048b-0041-a140-935960220e20.kql
Labels: Bug :lady_beetle:, PR: Safe to Test ARG Queries :test_tube:

#434 fix: Remove "Configure NSG Flow Logs" deprecated recommendation + references
  azure-resources/Network/applicationGateways/recommendations.yaml
  azure-resources/Network/networkSecurityGroups/kql/da1a3c06-d1d5-a940-9a99-fcc05966fe7c.kql
  azure-resources/Network/networkSecurityGroups/recommendations.yaml
  azure-specialized-workloads/avd/_index.md
  tools/data/recommendations.json
Labels: Bug :lady_beetle:, Needs: Attention from aprl-networking :wave:, Type: Resource or Feature Deprecation :ghost:

#477 fix: build-recommendation-object.yml workflow
  .github/workflows/build-recommendation-object.yml
Labels: Bug :lady_beetle:, Needs: Attention from aprl-maintainers :wave:, Type: Hygiene :broom:

#482 fix: Bug #481 - Update bbe668b7-eb5c-c746-8b82-70afdedf0cae.kql
  azure-resources/Network/virtualNetworkGateways/kql/bbe668b7-eb5c-c746-8b82-70afdedf0cae.kql
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:

#487 refactor: Add logic to PR to remove label whenever this workflow is run
  .github/workflows/validate-queries.yml
Labels: Type: Hygiene :broom:

#485 docs: Update runbooks.md
  docs/content/tools/collector/runbooks.md
Labels: Area: Tools :toolbox:

#489 fix: Script file version of 3_wara_reports_generator.ps1 to 2.1.6
  tools/3_wara_reports_generator.ps1
  tools/Version.json
Labels: Bug :lady_beetle:, Area: Tools :toolbox:

#488 fix: Patch/dev tools 10 25 2024
  .github/scripts/build-recommendation-object.ps1
  tools/1_wara_collector.ps1
  tools/2_wara_data_analyzer.ps1
  tools/3_wara_reports_generator.ps1
  tools/Version.json
Labels: Bug :lady_beetle:, Area: Tools :toolbox:

#494 fix: Fix archetypes and build object workflow
  .github/workflows/build-recommendation-object.yml
  docs/archetypes/azure-specialized-workload/recommendations.yaml
  docs/archetypes/azure-waf/recommendations.yaml
Labels: Bug :lady_beetle:, Type: Hygiene :broom:, Auto-Merge :heavy_check_mark:
