Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-04, with the labels that each got.

#21 Update codeowners for wara tools and networking
  CODEOWNERS
Labels: Area: Hugo

#24 update netapp recommendation guid
  azure-resources/NetApp/netAppAccounts/kql/b2fb3e60-97ec-e34d-af29-b16a0d61c2ac.kql
  azure-resources/NetApp/netAppAccounts/kql/e30317d2-c502-4dfe-a2d3-0a737cc79545.kql
Labels: Area: Resource Graph Query(s)

#29 minor query updates
  azure-resources/Cdn/profiles/kql/1bd2b7e8-400f-e64a-99a2-c572f7b08a62.kql
  azure-resources/Cdn/profiles/kql/38f3d542-6de6-a44b-86c6-97e3be690281.kql
  azure-resources/DBforMySQL/flexibleServers/kql/88856605-53d8-4bbd-a75b-4a7b14939d32.kql
  azure-resources/Network/azureFirewalls/kql/1b2dbf4a-8a0b-5e4b-8f4e-3f758188910d.kql
  azure-resources/Network/azureFirewalls/kql/3c8fa7c6-6b78-a24a-a63f-348a7c71acb9.kql
Labels: Area: Resource Graph Query(s)

#37 Updates to contribution guide and archetypes for yaml fields
  docs/archetypes/azure-resource-type/recommendations.yaml
  docs/archetypes/azure-specialized-workload/recommendations.yaml
  docs/content/contributing/create-content/create-recommendations/_index.md
Labels: Area: Hugo

#38 Add tooling page and header link
  docs/content/privacy/_index.md
  docs/content/tools/_index.md
  docs/data/menu/extra.yaml
Labels: Area: Hugo

#47 Enhancement: Adjust formatting for uniformity and clarity
  docs/layouts/shortcodes/azure-resources-recommendationlist.html
  docs/layouts/shortcodes/azure-specialized-workloads-recommendationlist.html
  docs/layouts/shortcodes/azure-waf-recommendationlist.html
  tools/Version.json
Labels: Area: Hugo

#54 Waf archetype and general fixes
  CODEOWNERS
  azure-waf/respond/_index.md
  docs/archetypes/azure-waf/_index.md
  docs/archetypes/azure-waf/recommendations.yaml
  docs/content/contributing/create-content/add-dependent-azure-resources/_index.md
  docs/content/contributing/create-content/create-archetypes/_index.md
  docs/layouts/shortcodes/azure-resources-recommendationlist.html
Labels: Area: Hugo

#48 Azure Boost VM recommendations signed-off
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Service Guidance

#56 Updated long description of VMSS recommendation.
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
Labels: Area: Service Guidance

#57 AVS Updated Monitoring configure to High
  azure-resources/AVS/privateClouds/recommendations.yaml
Labels: Area: Service Guidance

#61 Fix: Deploy AKS cluster across availability zones
  azure-resources/ContainerService/managedClusters/kql/4f63619f-5001-439c-bacb-8de891287727.kql
Labels: Area: Resource Graph Query(s), Needs: Author Feedback

#65 Fix: Exclude Trusted Launch VMs and Confidential VMs
  azure-resources/Compute/virtualMachines/kql/cfe22a65-b1db-fd41-9e8e-d573922709ae.kql
Labels: Area: Resource Graph Query(s)

#67 query fix for issue 42
  azure-resources/Network/azureFirewalls/kql/1b2dbf4a-8a0b-5e4b-8f4e-3f758188910d.kql
Labels: Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#60 modified: azure-resources/Sql/servers/kql/74c2491d-048b-0041-a140-…
  azure-resources/Sql/servers/kql/74c2491d-048b-0041-a140-935960220e20.kql
  azure-resources/Sql/servers/kql/943c168a-2ec2-a94c-8015-85732a1b4859.kql
  azure-resources/Sql/servers/kql/cbb17a29-64fb-c943-95d0-8df814a37c40.kql
  azure-resources/Sql/servers/kql/d6ef87aa-574e-584e-a955-3e6bb8b5425b.kql
  azure-resources/Sql/servers/recommendations.yaml
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#62 Update AKS recommendations
  azure-resources/ContainerService/managedClusters/kql/26ebaf1f-c70d-4ebd-8641-4b60a0ce0094.kql
  azure-resources/ContainerService/managedClusters/kql/a7bfcc18-b0d8-4d37-81f3-8131ed8bead5.kql
  azure-resources/ContainerService/managedClusters/kql/ba3f7d17-9654-4038-b172-09f1b2569925.kql
  azure-resources/ContainerService/managedClusters/recommendations.yaml
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#55 Add a new VM recommendation for ZRS Disk
  azure-resources/Compute/virtualMachines/kql/fa0cf4f5-0b21-47b7-89a9-ee936f193ce1.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Service Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#69 Fixed incorrect loop iteration for Slide 16 in 3_wara_reports_generator.ps1
  tools/3_wara_reports_generator.ps1
Labels: Bug, Needs: Attention from aprl-wara-tools :wave:

#66 Add apps recommendations to APRL Library
  azure-waf/deploy/recommendations.yaml
  azure-waf/develop/_index.md
  azure-waf/develop/recommendations.yaml
  azure-waf/monitor/recommendations.yaml
Labels: Area: Service Guidance, Needs: Attention from aprl-admins :wave:, Needs: Author Feedback

#78 Bugfix on tooling
  docs/content/tools/_index.md
  tools/1_wara_collector.ps1
  tools/2_wara_data_analyzer.ps1
  tools/3_wara_reports_generator.ps1
  tools/Version.json
Labels: Area: Tools

#81 update welcome page
  docs/content/welcome/_index.md
Labels: Needs: Attention from aprl-admins :wave:

#71 Soft Delete Recommendation
  azure-resources/RecoveryServices/vaults/kql/9e39919b-78af-4a0b-b70f-c548dae97c25
  azure-resources/RecoveryServices/vaults/recommendations.yaml
Labels: Area: Service Guidance, Area: Resource Graph Query(s)

#77 Bug fix all resource type filtering
  tools/1_wara_collector.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:

#86 Tooling adjustments
  azure-resources/_index.md
  azure-specialized-workloads/_index.md
  azure-waf/_index.md
  docs/content/tools/_index.md
  docs/content/tools/script-overviews/_index.md
Labels: Area: Hugo, Area: Tools

#83 BugFix for Cloudshell Support (tooling)
  tools/1_wara_collector.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#87 update readme
  README.md
Labels: Area: Service Guidance

#75 AzureGov support in wara_collector script
  tools/1_wara_collector.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:
