Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-08, with the labels that each got.

#328 fix: add missing recommendationTypeId value
  azure-specialized-workloads/avd/recommendations.yaml
Labels: Area: Resource Guidance

#322 docs: Update AVD recommendations
  azure-specialized-workloads/avd/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-avd :wave:

#317 fix: Number of impacted resources in slide 16
  tools/3_wara_reports_generator.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools

#335 fix: Remove unnecessary "?"
  azure-resources/Databricks/workspaces/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#334 fix: Remove "| Microsoft Learn" from learn more link name
  azure-resources/DocumentDB/databaseAccounts/recommendations.yaml
Labels: Area: Resource Guidance

#329 fix: Menu item label overflow when it has long label
  docs/themes/hugo-geekdoc/static/custom.css
Labels: Bug, Area: Hugo

#340 fix: Fix abbreviated product name
  azure-resources/Databricks/workspaces/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#339 fix: Fix abbreviated word
  azure-resources/EventHub/namespaces/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#333 fix: Fix typo in learn more link URL
  azure-resources/Databricks/workspaces/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#345 fix: Fix product name in description - FSLogix
  azure-resources/DesktopVirtualization/hostPools/recommendations.yaml
Labels: Bug, Area: Resource Guidance

#343 fix: Fix learn more links
  azure-resources/Network/networkWatchers/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#347 fix: Fix incorrect KQL file name
  azure-resources/Network/networkWatchers/kql/1e28bbc1-1eb7-486f-8d7f-93943f40219c.kql
Labels: Bug :lady_beetle:, Auto-Merge :heavy_check_mark:

#353 fix: Fixing networkwatcher kql file name and deactivating VPN recommendation from ExR Circuits
  azure-resources/Network/expressRouteCircuits/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Needs: Author Feedback :ear:

#274 feat: Add fence for non-supported operating systems
  tools/2_wara_data_analyzer.ps1
  tools/3_wara_reports_generator.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools :toolbox:

#268 feat: Improve recommendation sheet cell formats
  tools/2_wara_data_analyzer.ps1
Labels: Needs: Attention from aprl-wara-tools :wave:, Area: Tools :toolbox:

#344 fix: Fix product name in description - IoT Hub
  azure-resources/Devices/iotHubs/recommendations.yaml
Labels: Bug :lady_beetle:, Area: Resource Guidance :memo:, Auto-Merge :heavy_check_mark:

#359 feat: Add learn more link titles to AVS recommendations
  azure-resources/AVS/privateClouds/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#356 build: Hygeine-dependabot
  .github/dependabot.yml
  .github/policies/resource-management.yml
Labels: Type: Hygiene :broom:, Auto-Merge :heavy_check_mark:

#367 feat: 8-23-2024 WARA Automation Release
  docs/content/tools/_index.md
  docs/content/tools/analyzer/_index.md
  docs/content/tools/collector/_index.md
  docs/content/tools/collector/quickstartexample.gif
  docs/content/tools/collector/quickstartexample_cloudshell.gif
  docs/content/tools/collector/runbooks.md
  docs/content/tools/reports/_index.md
  docs/content/tools/script-overviews/_index.md
  docs/content/tools/script-overviews/_index.md.old
  docs/static/img/tools/quickstartexample.gif
  docs/static/img/tools/quickstartexample_cloudshell.gif
  tools/1_wara_collector.ps1
  tools/2_wara_data_analyzer.ps1
  tools/3_wara_reports_generator.ps1
  tools/Version.json
  tools/configfile.example
Labels: Enhancement :new:, Area: Tools :toolbox:

#370 fix: Fix weight and update titles
  docs/content/tools/analyzer/_index.md
  docs/content/tools/collector/_index.md
  docs/content/tools/reports/_index.md
Labels: Bug :lady_beetle:, Auto-Merge :heavy_check_mark:

#374 fix: BugFix Subscription Parameters
  tools/1_wara_collector.ps1
  tools/Version.json
Labels: Bug :lady_beetle:, Auto-Merge :heavy_check_mark:

#361 feat: AFD Recommendation added
  azure-resources/Cdn/profiles/kql/82fa3cff-74bd-4063-b726-834f160592fa.kql
  azure-resources/Cdn/profiles/recommendations.yaml
Labels: Enhancement :new:

#376 fix: Frequently asked questions section for 3_wara_reports_generator.ps1
  docs/content/tools/reports/_index.md
Labels: Bug :lady_beetle:

#381 feat: Add SQL/ManagedInstances and StreamAnalyticsJobs and Fix ExpressRoute Circuits
  azure-resources/Network/expressRouteCircuits/kql/0e19cc41-8274-1342-b0db-0e4146eacef8.kql
  azure-resources/Network/expressRouteCircuits/kql/2a5bf650-586d-db4c-a292-d922be7d3e0e.kql
  azure-resources/Network/expressRouteCircuits/kql/4d703025-dafc-f840-a183-5dc440456134.kql
  azure-resources/Sql/managedInstances/_index.md
  azure-resources/Sql/managedInstances/kql/15e2712c-f3ea-4a8d-9081-11e822b1ccfb.kql
  azure-resources/Sql/managedInstances/kql/257cd903-700f-4a79-bd37-7dce2b511df4.kql
  azure-resources/Sql/managedInstances/kql/9fad5392-b852-4807-9b6d-3f700ff9771a.kql
  azure-resources/Sql/managedInstances/kql/c14de326-2729-4be7-a91f-4ea185d24b10.kql
  azure-resources/Sql/managedInstances/kql/c9afeb1e-e706-4809-be4e-75d9fac708f2.kql
  azure-resources/Sql/managedInstances/kql/f8f834a9-c761-4e84-b2cb-ac55494d0c37.kql
  azure-resources/Sql/managedInstances/recommendations.yaml
  azure-resources/StreamAnalytics/_index.md
  azure-resources/StreamAnalytics/streamingJobs/_index.md
  azure-resources/StreamAnalytics/streamingJobs/kql/5d40d3d4-179d-4cf5-ac24-901210f512e7.kql
  azure-resources/StreamAnalytics/streamingJobs/kql/e48a7227-5ec7-463a-b955-ee7cb598ded4.kql
  azure-resources/StreamAnalytics/streamingJobs/recommendations.yaml
Labels: Enhancement :new:

#386 docs: Update Private DNS Zone guidance for clarity and specificity
  azure-resources/Network/privateDnsZones/recommendations.yaml
Labels: Area: Resource Guidance :memo:
