Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-06, with the labels that each got.

#186 Set maintenance for Azure Redis cache
  azure-resources/App/managedEnvironments/recommendations.yaml
  azure-resources/Cache/Redis/kql/cabc1f98-c8a7-44f7-ab24-977982ef3f70.kql
  azure-resources/Cache/Redis/recommendations.yaml
Labels: Area: Resource Guidance

#188 Fix "Opt-in to Cross Region Restore for all GRS Azure Recovery Services vaults"
  azure-resources/RecoveryServices/vaults/kql/1549b91f-2ea0-4d4f-ba2a-4596becbe3de.kql
Labels: Bug, Area: Resource Graph Query(s)

#174 Fix analyzer script version verification
  tools/2_wara_data_analyzer.ps1
Labels: Bug, Area: Tools

#100 query and instructions for "Configure minimal logging and retention of logs"
  azure-resources/OperationalInsights/workspaces/kql/7a0063ee-98a0-4634-823b-310a67f798cc.kql
  azure-resources/OperationalInsights/workspaces/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention :wave:

#135 Updated the app service related queries, added missing recommendations, updated index file for app services accordingly.
  azure-resources/Web/sites/kql/493f6079-3bb6-4a56-96ba-ab3248474cb1.kql
  azure-resources/Web/sites/kql/9e6682ac-31bc-4635-9959-ab74b52454e6.kql
  azure-resources/Web/sites/kql/a7e8bb3d-8ceb-442d-b26f-007cd63f9ffc.kql
  azure-resources/Web/sites/kql/aab6b4a4-9981-43a4-8728-35c7ecbb746d.kql
  azure-resources/Web/sites/kql/fd049c28-ae6d-48f0-a641-cc3ba1a3fe1d.kql
  azure-resources/Web/sites/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#190 Enable purge protection for app configuration stores
  azure-resources/AppConfiguration/configurationStores/kql/2102a57a-a056-4d5e-afe5-9df9f92177ca.kql
  azure-resources/AppConfiguration/configurationStores/kql/bb4c8db4-f821-475b-b1ea-16e95358665e.kql
  azure-resources/AppConfiguration/configurationStores/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:

#134 Update NAT GW Recommendations
  azure-resources/Network/natGateways/_index.md
  azure-resources/Network/natGateways/kql/419df1ea-336b-460a-b6b2-fefe2588fcef.kql
  azure-resources/Network/natGateways/kql/4281631c-3d19-4994-8d96-084c2a51a534.kql
  azure-resources/Network/natGateways/kql/babf75d6-6407-4d90-b01e-5a1768e621f5.kql
  azure-resources/Network/natGateways/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:

#194 Update recommendations.yaml for Private DNS Zone Monitoring and Alerting
  azure-resources/Network/privateDnsZones/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:

#195 Recommendation additions for APIM, Service Bus, and ACA
  azure-resources/ApiManagement/service/kql/c79680ea-de85-44fa-a596-f31fa17a952f.kql
  azure-resources/ApiManagement/service/recommendations.yaml
  azure-resources/App/containerApps/kql/8dbcd94b-0948-4df3-b608-1946726c3abf.kql
  azure-resources/App/containerApps/recommendations.yaml
  azure-resources/ServiceBus/namespaces/kql/d810e3a8-600f-4be1-895b-1a93e61d37fd.kql
  azure-resources/ServiceBus/namespaces/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#169 lb kql backend pool bug fix - fixes issue #46
  azure-resources/Network/loadBalancers/kql/6d82d042-6d61-ad49-86f0-6a5455398081.kql
Labels: Bug, Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:

#192 Update Disk related AVD APRL to align with VM APRL
  azure-specialized-workloads/avd/_index.md
Labels: Area: Resource Guidance, Needs: Attention from aprl-avd :wave:

#182 Rosanto major updates
  azure-resources/ApiManagement/service/recommendations.yaml
  azure-resources/Cdn/profiles/recommendations.yaml
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
  azure-resources/Compute/virtualMachines/kql/3263a64a-c256-de48-9818-afd3cbc55c2a.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
  azure-resources/DocumentDB/databaseAccounts/recommendations.yaml
  azure-resources/EventGrid/topics/recommendations.yaml
  azure-resources/KeyVault/vaults/recommendations.yaml
  azure-resources/NetApp/netAppAccounts/recommendations.yaml
  azure-resources/Network/applicationGateways/recommendations.yaml
  azure-resources/Network/expressRouteCircuits/kql/4d703025-dafc-f840-a183-5dc440456134.kql
  azure-resources/Network/expressRouteCircuits/kql/d40c769d-2f08-4980-8d8f-a386946276e6.kql
  azure-resources/Network/expressRouteCircuits/recommendations.yaml
  azure-resources/Network/expressRoutePorts/kql/d40c769d-2f08-4980-8d8f-a386946276e6.kql
  azure-resources/Network/expressRoutePorts/recommendations.yaml
  azure-resources/Network/trafficManagerProfiles/recommendations.yaml
  azure-resources/Network/virtualNetworkGateways/recommendations.yaml
  azure-resources/Network/virtualNetworks/recommendations.yaml
  azure-resources/RecoveryServices/vaults/recommendations.yaml
  azure-resources/Sql/servers/recommendations.yaml
  azure-resources/Storage/storageAccounts/recommendations.yaml
  azure-resources/Web/sites/recommendations.yaml
  tools/Mandatory - Executive Summary presentation - Template.pptx
  tools/WARAinScopeResTypes.csv
Labels: Enhancement, Area: Resource Graph Query(s), Area: Tools, PR: Safe to Test ARG Queries :test_tube:

#199 Added dev-tools branch to workflow triggers
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/code-review.yml
  .github/workflows/hugo-build-pr-check.yml
  .github/workflows/hugo-site-build.yml
  .github/workflows/validate-queries.yml
  .github/workflows/validate-recommendations.yml
Labels: Type: Hygiene :broom:

#146 Added GRS, replica, storage auto-grow, added CRLF to .kql
  azure-resources/DBforMySQL/flexibleServers/kql/5c96afc3-7d2e-46ff-a4c7-9c32850c441b.kql
  azure-resources/DBforMySQL/flexibleServers/kql/8176a79d-8645-4e52-96be-a10fc0204fe5.kql
  azure-resources/DBforMySQL/flexibleServers/kql/82a9a0f2-24ee-496f-9ad2-25f81710942d.kql
  azure-resources/DBforMySQL/flexibleServers/kql/88856605-53d8-4bbd-a75b-4a7b14939d32.kql
  azure-resources/DBforMySQL/flexibleServers/kql/b49a8653-cc43-48c9-8513-a2d2e3f14dd1.kql
  azure-resources/DBforMySQL/flexibleServers/recommendations.yaml
  azure-resources/DBforPostgreSQL/flexibleServers/kql/2ab85a67-26be-4ed2-a0bb-101b2513ec63.kql
  azure-resources/DBforPostgreSQL/flexibleServers/kql/31f4ac4b-29cb-4588-8de2-d8fe6f13ceb3.kql
  azure-resources/DBforPostgreSQL/flexibleServers/kql/6293a3cc-6b4a-4c0f-9ea7-b8ae8d7dd3d5.kql
  azure-resources/DBforPostgreSQL/flexibleServers/kql/b2bad57d-7e03-4c0f-9024-597c9eb295bb.kql
  azure-resources/DBforPostgreSQL/flexibleServers/kql/ca87914f-aac4-4783-ab67-82a6f936f194.kql
  azure-resources/DBforPostgreSQL/flexibleServers/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#206 Minor wording update Storage APRL per PM Scott's suggestion
  azure-resources/Storage/storageAccounts/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-admins :wave:

#211 Made use of recommendationId consistent
  azure-resources/ContainerService/managedClusters/kql/005ccbbd-aeab-46ef-80bd-9bd4479412ec.kql
  azure-resources/ContainerService/managedClusters/kql/269a9f1a-6675-460a-831e-b05a887a8c4b.kql
  azure-resources/ContainerService/managedClusters/kql/5ee083cd-6ac3-4a83-8913-9549dd36cf56.kql
  azure-resources/ContainerService/managedClusters/kql/7f7ae535-a5ba-4665-b7e0-c451dbdda01f.kql
  azure-resources/ContainerService/managedClusters/kql/a7bfcc18-b0d8-4d37-81f3-8131ed8bead5.kql
  azure-resources/DesktopVirtualization/hostPools/kql/979ff8be-5f3a-4d8e-9aa3-407ecdd6d6f7.kql
  azure-resources/Insights/activityLogAlerts/kql/9729c89d-8118-41b4-a39b-e12468fa872b.kql
  azure-resources/KeyVault/vaults/kql/00c3d2b0-ea6e-4c4b-89be-b78a35caeb51.kql
  azure-resources/Network/applicationGateways/kql/8364fd0a-7c0e-e240-9d95-4bf965aec243.kql
  azure-resources/Network/publicIPAddresses/kql/1adba190-5c4c-e646-8527-dd1b2a6d8b15.kql
  azure-resources/RecoveryServices/vaults/kql/9e39919b-78af-4a0b-b70f-c548dae97c25.kql
  azure-resources/Storage/storageAccounts/kql/dc55be60-6f8c-461e-a9d5-a3c7686ed94e.kql
  azure-resources/Web/serverFarms/kql/07243659-4643-d44c-a1c6-07ac21635072.kql
  azure-resources/Web/serverFarms/kql/88cb90c2-3b99-814b-9820-821a63f600dd.kql
  azure-resources/Web/serverFarms/kql/b2113023-a553-2e41-9789-597e2fb54c31.kql
  azure-specialized-workloads/avd/kql/0bf1a2bb-7617-4ab2-a784-e7ea40c5f01b.kql
  azure-specialized-workloads/avd/kql/dc55be60-6f8c-461e-a9d5-a3c7686ed94e.kql
Labels: Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#220 Update ANF APRL wordings per ANF PM Jitesh Mani
  azure-resources/NetApp/netAppAccounts/recommendations.yaml
Labels: Area: Resource Guidance

#212 Add check for private endpoint for redis cache
  azure-resources/Cache/Redis/kql/5a44bd30-ae6a-4b81-9b68-dc3a8ffca4d8.kql
  azure-resources/Cache/Redis/kql/c474fc96-4e6a-4fb0-95d0-a26b3f35933c.kql
  azure-resources/Cache/Redis/recommendations.yaml
Labels: Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#202 AKS Recommendation Updates
  azure-resources/ContainerService/managedClusters/kql/9200aca6-0e83-4749-a5eb-e3939367bdc2.kql
  azure-resources/ContainerService/managedClusters/kql/f46b0d1d-56ef-4795-b98a-f6ee00cb341a.kql
  azure-resources/ContainerService/managedClusters/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention :wave:, PR: Safe to Test ARG Queries :test_tube:

#164 Added "Deploy zone-redundant ExpressRoute gateways with zone-redundant Public IP(s)" in Network\virtualNetworkGateways
  azure-resources/Network/virtualNetworkGateways/kql/292e6e8e-7795-4e82-857a-bb9ca08b330c.kql
  azure-resources/Network/virtualNetworkGateways/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:, DO-NOT-MERGE, Needs: Attention :wave:

#221 Add DDoS protection to public IPs
  azure-resources/Network/publicIPAddresses/kql/c4254c66-b8a5-47aa-82f6-e7d7fb418f47.kql
  azure-resources/Network/publicIPAddresses/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-networking :wave:, PR: Safe to Test ARG Queries :test_tube:

#238 Fix description
  azure-resources/Network/azureFirewalls/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:

#237 remove WAFv1 recommendations
  azure-waf/define/_index.md
  azure-waf/define/recommendations.yaml
  azure-waf/deploy/_index.md
  azure-waf/deploy/recommendations.yaml
  azure-waf/design/_index.md
  azure-waf/design/recommendations.yaml
  azure-waf/develop/_index.md
  azure-waf/develop/recommendations.yaml
  azure-waf/monitor/_index.md
  azure-waf/monitor/recommendations.yaml
  azure-waf/respond/_index.md
  azure-waf/respond/recommendations.yaml
  azure-waf/test/_index.md
  azure-waf/test/recommendations.yaml
Labels: Area: Resource Guidance

#227 BugFix on AVS "cannot-be-validated-with-arg" off on defined standard
  azure-resources/AVS/privateClouds/kql/29d7a115-dfb6-4df1-9205-04824109548f.kql
  azure-resources/AVS/privateClouds/kql/a5ef7c05-c611-4842-9af5-11efdc99123a.kql
  azure-resources/AVS/privateClouds/kql/e0ac2f57-c8c0-4b8c-a7c8-19e5797828b5.kql
  azure-resources/AVS/privateClouds/kql/f86355e3-de7c-4dad-8080-1b0b411e66c8.kql
  azure-resources/AVS/privateClouds/kql/fa4ab927-bced-429a-971a-53350de7f14b.kql
  azure-resources/AVS/privateClouds/kql/fcc2e257-23af-4c68-aac8-9cc03033c939.kql
  azure-specialized-workloads/avs/kql/0943aa90-e3db-4c61-aef1-782b6a6a3881.kql
  azure-specialized-workloads/avs/kql/6be9a543-cf82-4926-82ea-7e1f1ffaad80.kql
  azure-specialized-workloads/avs/kql/6f573d60-be93-4f18-8016-42e923e3c05e.kql
  azure-specialized-workloads/avs/kql/726abfe3-adae-4a6d-8eb8-4b27a7214ca1.kql
  azure-specialized-workloads/avs/kql/91c84596-1c41-48fe-8d5e-3f817e6a273b.kql
  azure-specialized-workloads/avs/kql/bce16eee-0933-4baa-ab4d-8d1bb5653fc2.kql
  azure-specialized-workloads/avs/kql/bdac462a-2eda-4a67-887d-46d58f141afe.kql
  azure-specialized-workloads/avs/kql/c2794660-ffd7-4da3-96ba-5d546b70b1c6.kql
Labels: Needs: Attention from aprl-admins :wave:, PR: Safe to Test ARG Queries :test_tube:

#232 Fix Azure Firewall recommendation description
  azure-resources/Network/azureFirewalls/recommendations.yaml
Labels: Area: Resource Guidance, Needs: Attention from aprl-networking :wave:

#208 Update Private end point provisioning success query b89c9acc-0aba-fb44-9ff2-3dbfcf97dce7
  azure-resources/Network/privateEndpoints/kql/b89c9acc-0aba-fb44-9ff2-3dbfcf97dce7.kql
Labels: Area: Resource Graph Query(s), PR: Safe to Test ARG Queries :test_tube:

#241 Add: Capacity Reservations
  azure-resources/Compute/virtualMachines/kql/302fda08-ee65-4fbe-a916-6dc0b33169c4.kql
  azure-resources/Compute/virtualMachines/recommendations.yaml
Labels: Area: Resource Guidance, Area: Resource Graph Query(s), Needs: Attention from aprl-admins :wave:, PR: Safe to Test ARG Queries :test_tube:
