Repository Azure/Azure-Proactive-Resiliency-Library-v2, pull requests merged in 2024-12, with the labels that each got.

#544 fix: update version in analyzer
  tools/2_wara_data_analyzer.ps1
Labels: Bug :lady_beetle:

#542 feat: New APRL guidance for Azure Route Server
  azure-resources/Network/virtualRouters/_index.md
  azure-resources/Network/virtualRouters/kql/2226d069-de5b-4ec1-ad26-3249f4ab1741.kql
  azure-resources/Network/virtualRouters/kql/b8ff662a-ab74-4b6a-8301-d4dae002bc14.kql
  azure-resources/Network/virtualRouters/recommendations.yaml
Labels: Enhancement :new:

#534 fix: incomplete Service Health alert check points
  azure-resources/Subscription/subscriptions/kql/9729c89d-8118-41b4-a39b-e12468fa872b.kql
Labels: Bug :lady_beetle:, Needs: Attention from aprl-maintainers :wave:, Needs: Attention :wave:

#547 fix: Outages breaking the 2_wara_data_analyzer script and Categories without spaces
  tools/2_wara_data_analyzer.ps1
  tools/Version.json
Labels: Bug :lady_beetle:

#539 fix: remove broken rsv recommendation ARG query
  azure-resources/RecoveryServices/vaults/kql/2912472d-0198-4bdc-aa90-37f145790edc.kql
  azure-resources/RecoveryServices/vaults/recommendations.yaml
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:

#538 docs: updates to container recommendations
  azure-resources/App/containerApps/recommendations.yaml
  azure-resources/ContainerRegistry/registries/recommendations.yaml
  azure-resources/ContainerService/managedClusters/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#545 docs: disable non-reliability recommendations
  azure-resources/Cache/Redis/recommendations.yaml
  azure-resources/EventGrid/topics/recommendations.yaml
  azure-resources/Web/serverFarms/recommendations.yaml
  azure-resources/Web/sites/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#550 fix: appservice query to return resourceid that is searchable
  azure-resources/Web/sites/kql/0b80b67c-afbe-4988-ad58-a85a146b681e.kql
Labels: Bug :lady_beetle:

#558 fix: sql mi recommendations
  azure-resources/Sql/managedInstances/recommendations.yaml
  tools/data/recommendations.json
Labels: Bug :lady_beetle:

#562 docs: Fixed collector documentation
  docs/content/tools/collector/_index.md
Labels: Area: Tools :toolbox:

#560 docs: updates to network recommendations
  azure-resources/Network/connections/recommendations.yaml
  azure-resources/Network/networkSecurityGroups/recommendations.yaml
  azure-resources/Network/routeTables/recommendations.yaml
  azure-resources/Network/virtualNetworkGateways/recommendations.yaml
  azure-resources/Network/virtualNetworks/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#552 docs: updates to avs recommendations
  azure-resources/AVS/privateClouds/recommendations.yaml
  azure-specialized-workloads/avs/_index.md
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#551 docs: updates to avd recommendations
  azure-resources/DesktopVirtualization/hostPools/recommendations.yaml
  azure-specialized-workloads/avd/_index.md
  azure-specialized-workloads/avd/recommendations.yaml
  tools/data/recommendations.json
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#554 fix: update app service instance query and fix typo
  azure-resources/Web/serverFarms/kql/855ca19a-6518-4f2e-9e5a-01796fbca9f8.kql
  azure-resources/Web/serverFarms/recommendations.yaml
  azure-resources/Web/sites/kql/9e6682ac-31bc-4635-9959-ab74b52454e6.kql
  azure-resources/Web/sites/recommendations.yaml
Labels: Bug :lady_beetle:, Area: Resource Graph Query(s) :hash:

#561 feat: Update AVD Recommendation
  azure-specialized-workloads/avd/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Enhancement :new:

#555 feat: Added section for Azure AI with 3 recommendations
  CODEOWNERS
  azure-resources/CognitiveServices/accounts/kql/0c193899-da60-4a52-b4a0-77d75ac8c5c5.kql
  azure-resources/CognitiveServices/accounts/kql/8aa9744b-f302-4b05-9776-51d6dd3d0c3a.kql
  azure-resources/CognitiveServices/accounts/kql/ac3add17-013e-41a5-af91-9fefce794a00.kql
  azure-resources/CognitiveServices/accounts/recommendations.yaml
  azure-specialized-workloads/ai/_index.md
  tools/data/recommendations.json
Labels: Area: Resource Guidance :memo:, Enhancement :new:

#564 feat: Added filter to applicable VMSS ARG queries to filter out AKS managed VMSSs
  azure-resources/Compute/virtualMachineScaleSets/kql/1422c567-782c-7148-ac7c-5fc14cf45adc.kql
  azure-resources/Compute/virtualMachineScaleSets/kql/3f85a51c-e286-9f44-b4dc-51d00768696c.kql
  azure-resources/Compute/virtualMachineScaleSets/kql/820f4743-1f94-e946-ae0b-45efafd87962.kql
  azure-resources/Compute/virtualMachineScaleSets/kql/94794d2a-eff0-2345-9b67-6f9349d0a627.kql
  azure-resources/Compute/virtualMachineScaleSets/kql/e7495e1c-0c75-0946-b266-b429b5c7f3bf.kql
  azure-resources/Compute/virtualMachineScaleSets/kql/ee66ff65-9aa3-2345-93c1-25827cf79f44.kql
Labels: Enhancement :new:

#559 docs: Added new recommendations for Azure machine learning
  azure-resources/MachineLearningServices/_index.md
  azure-resources/MachineLearningServices/workspaces/_index.md
  azure-resources/MachineLearningServices/workspaces/kql/13794a63-8d95-47ce-acbd-5925ede5b208
  azure-resources/MachineLearningServices/workspaces/kql/675d249a-9486-45e3-8e89-863f5802782d
  azure-resources/MachineLearningServices/workspaces/kql/a86ed26a-59d9-47bd-b440-6bc71b843978
  azure-resources/MachineLearningServices/workspaces/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#575 docs: APRL recommendations for Cog Services
  azure-resources/CognitiveServices/accounts/kql/081fc8a4-b2d9-405b-b351-334e621016f5.kql
  azure-resources/CognitiveServices/accounts/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#580 docs: Updating the Machine Learning Services Recommendations regards to quota
  azure-resources/MachineLearningServices/workspaces/kql/48ea6480-6263-40ba-8937-326d790e63f6
  azure-resources/MachineLearningServices/workspaces/kql/6e2af91f-477d-46a5-b8ce-6cd1b8176550
  azure-resources/MachineLearningServices/workspaces/kql/6e4f0fd1-1853-4b94-9736-6d6d239d2694
  azure-resources/MachineLearningServices/workspaces/kql/cf2569bb-1cf2-46ce-8885-d742dc6f4a4c
  azure-resources/MachineLearningServices/workspaces/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#579 docs: remove recommendationTypeId values for non-reliability Advisor recommendations
  azure-resources/ApiManagement/service/recommendations.yaml
  azure-resources/Cdn/profiles/recommendations.yaml
  azure-resources/Compute/virtualMachines/recommendations.yaml
  azure-resources/DocumentDB/databaseAccounts/recommendations.yaml
  azure-resources/KeyVault/vaults/recommendations.yaml
  azure-resources/Network/applicationGateways/recommendations.yaml
  azure-resources/RecoveryServices/vaults/recommendations.yaml
  azure-resources/Storage/storageAccounts/recommendations.yaml
  azure-resources/Web/sites/recommendations.yaml
Labels: Area: Resource Guidance :memo:, Needs: Attention from aprl-maintainers :wave:

#582 fix: Collector 2.1.18 & Analyzer 2.1.17
  tools/1_wara_collector.ps1
  tools/2_wara_data_analyzer.ps1
  tools/Version.json
Labels: Bug :lady_beetle:

#557 docs: recommendation APIM enable caching to reduce latency
  azure-resources/ApiManagement/service/kql/badd9a1f-222a-498d-ab84-1f14892b1c1b.kql
  azure-resources/ApiManagement/service/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#581 docs: reccomendation AOAI multi-region deployment
  azure-resources/CognitiveServices/accounts/kql/61187af4-7d36-4b48-b16e-de78bef143a0.kql
  azure-resources/CognitiveServices/accounts/recommendations.yaml
Labels: Area: Resource Guidance :memo:

#587 docs: Added new APRL recommendations for Azure Machine learning registry
  azure-resources/MachineLearningServices/registries/_index.md
  azure-resources/MachineLearningServices/registries/kql/611c7c96-ac55-4ddf-909e-9eb70fd048b7.kql
  azure-resources/MachineLearningServices/registries/recommendations.yaml
Labels: Enhancement :new:, Needs: Attention from aprl-maintainers :wave:, Auto-Merge :heavy_check_mark:

#592 fix: Repo folder name in report generator script
  tools/3_wara_reports_generator.ps1
Labels: Bug :lady_beetle:

#594 fix: Specialized Workload Resource Type Adjustment
  tools/2_wara_data_analyzer.ps1
Labels: Bug :lady_beetle:

#593 fix: bump version and update ignore
  .gitignore
  tools/3_wara_reports_generator.ps1
  tools/Version.json
Labels: Bug :lady_beetle:

#595 docs: update specialized workload recommendations resource type
  .github/scripts/schemas/aprl-schema.yaml
  azure-specialized-workloads/avd/recommendations.yaml
  azure-specialized-workloads/avs/recommendations.yaml
  azure-specialized-workloads/hpc/recommendations.yaml
  azure-specialized-workloads/sap/recommendations.yaml
  docs/archetypes/azure-resource-type/recommendations.yaml
  docs/archetypes/azure-specialized-workload/recommendations.yaml
  docs/content/contributing/create-content/create-recommendations/_index.md
Labels: Area: Resource Guidance :memo:, Area: Hugo :computer:
