Repository Azure/Azure-Proactive-Resiliency-Library-v2, changes with the owners that CODEOWNERS names for each.
All owners: @Azure/aprl-admins, @Azure/aprl-networking, @Azure/aprl-hpc, @Azure/aprl-avd, @Azure/aprl-wara-tools

CODEOWNERS:

# The aprl-admins team is responsible for reviewing and merging all PRs

* @Azure/aprl-admins

## The aprl-networking team is partially responsible for all networking-related PRs

azure-resources/Cdn @Azure/aprl-admins @Azure/aprl-networking
azure-resources/Network @Azure/aprl-admins @Azure/aprl-networking
azure-resources/NetworkCloud @Azure/aprl-admins @Azure/aprl-networking
azure-resources/NetworkFunction @Azure/aprl-admins @Azure/aprl-networking
azure-resources/Peerings @Azure/aprl-admins @Azure/aprl-networking
azure-resources/Relay @Azure/aprl-admins @Azure/aprl-networking

## The aprl-hpc team is partially responsible for all HPC-related PRs

azure-resources/Batch @Azure/aprl-admins @Azure/aprl-hpc
azure-specialized-workloads/hpc @Azure/aprl-admins @Azure/aprl-hpc

## The aprl-avd team is partially responsible for all AVD-related PRs

azure-resources/DesktopVirtualization @Azure/aprl-admins @Azure/aprl-avd
azure-specialized-workloads/avd @Azure/aprl-admins @Azure/aprl-avd

## The aprl-wara-tools team is responsible for all WARA tools-related PRs

tools @Azure/aprl-wara-tools

Fix spacing
  docs/content/contributing/create-content/create-archetypes/_index.md
Owners: @Azure/aprl-admins

Fix spacing
  docs/content/contributing/create-content/add-dependent-azure-resources/_index.md
  docs/content/contributing/create-content/create-archetypes/_index.md
Owners: @Azure/aprl-admins

Add new VM recommendation for ZRS Disk
  azure-resources/Compute/virtualMachines/recommendations.yaml
Owners: @Azure/aprl-admins

Adjust wording and hide recommendation for eventhub
  azure-resources/EventHub/namespaces/recommendations.yaml
Owners: @Azure/aprl-admins

Fix conditional statement for recommendationmetadatastate
  docs/layouts/shortcodes/azure-resources-recommendationlist.html
  docs/layouts/shortcodes/azure-specialized-workloads-recommendationlist.html
  docs/layouts/shortcodes/azure-waf-recommendationlist.html
Owners: @Azure/aprl-admins

Create .fix file for eventhub namespace recommendation to be more specific on sku
  azure-resources/EventHub/namespaces/kql/84636c6c-b317-4722-b603-7b1ffc16384b.kql
  azure-resources/EventHub/namespaces/kql/84636c6c-b317-4722-b603-7b1ffc16384b.kql.fix
Owners: @Azure/aprl-admins

Removed null value from description
  azure-resources/Network/ddosProtectionPlans/recommendations.yaml
Owners: @Azure/aprl-admins, @Azure/aprl-networking

Create fa0cf4f5-0b21-47b7-89a9-ee936f193ce1.kql
  azure-resources/Compute/virtualMachines/kql/fa0cf4f5-0b21-47b7-89a9-ee936f193ce1.kql
Owners: @Azure/aprl-admins

Update description of vm encryption recommendation
  azure-resources/Compute/virtualMachines/recommendations.yaml
Owners: @Azure/aprl-admins

Update recommendations.yaml
  azure-resources/Compute/virtualMachines/recommendations.yaml
Owners: @Azure/aprl-admins

Update fa0cf4f5-0b21-47b7-89a9-ee936f193ce1.kql
  azure-resources/Compute/virtualMachines/kql/fa0cf4f5-0b21-47b7-89a9-ee936f193ce1.kql
Owners: @Azure/aprl-admins

Fix spacing
  docs/content/contributing/create-content/create-archetypes/_index.md
Owners: @Azure/aprl-admins

Updated VMSS based on PG sign-off (#49)
  azure-resources/Compute/virtualMachineScaleSets/kql/457e1648-8aa2-214d-a854-11a4084ecdc9.kql
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
Owners: @Azure/aprl-admins

Update recommendations.yaml
  azure-waf/respond/recommendations.yaml
Owners: @Azure/aprl-admins

Updated long description of VM recommendation (must be less than 300 characters).
  azure-resources/Compute/virtualMachines/recommendations.yaml
Owners: @Azure/aprl-admins

Updated long description of VMSS recommendation.
  azure-resources/Compute/virtualMachineScaleSets/recommendations.yaml
Owners: @Azure/aprl-admins

AVS Updated Monitoring configure to High
  azure-resources/AVS/privateClouds/recommendations.yaml
Owners: @Azure/aprl-admins

Update 2_wara_data_analyzer.ps1
  tools/2_wara_data_analyzer.ps1
Owners: @Azure/aprl-wara-tools
